{% extends '_base.html' %}
{% load thumbnail %}

{% block main %}

  <div class="relative max-w-5xl mx-auto px-4">
    {% thumbnail post.image "992x620" crop="center" as img %}
      <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ post.alt }}" class="rounded-lg shadow-sm w-full object-contain" />
    {% endthumbnail %}
  </div>

  <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">

    <h1 class="text-2xl font-bold mb-2">{{ post.title }}</h1>

    {{ post.body|safe }}
  </article>

  <!-- comment section -->
  {% comment %}
<div class="px-2 mb-2">
  {{ if eq .Site.Params.comments.system "disqus" }}
  {{ template "_internal/disqus.html" . }}
  {{ else if eq .Site.Params.comments.system "giscus" }}
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.comments.repo }}"
    data-repo-id="{{ .Site.Params.comments.repoid }}"
    data-category="{{ .Site.Params.comments.category }}"
    data-category-id="{{ .Site.Params.comments.categoryid }}"
    data-mapping="{{ default "pathname" .Site.Params.comments.mapping }}"
    data-strict="{{ default "0" .Site.Params.comments.strict }}"
    data-reactions-enabled="{{ default "1" .Site.Params.comments.reactionsenabled }}"
    data-emit-metadata="{{ default "0" .Site.Params.comments.emitmetadata }}"
    data-input-position="{{ default "bottom" .Site.Params.comments.inputposition }}"
    data-theme="{{ default "preferred_color_scheme" .Site.Params.comments.theme }}"
    data-lang="{{ default "en" $.Site.Language.Lang }}"
    crossorigin="anonymous"
    async>
  </script>
  {{ else if eq .Site.Params.comments.system "utterances" }}
  <script src="https://utteranc.es/client.js"
    repo="{{ .Site.Params.comments.repo }}"
    issue-term="{{ default "pathname" .Site.Params.comments.issueterm }}"
    theme="{{ default "preferred_color_scheme" .Site.Params.comments.theme }}"
    crossorigin="anonymous"
    async>
  </script>
  {{ end }}
</div>
{% endcomment %}
  <!-- end comment section -->

{% endblock %}
